.menu {
    display: flex;
    position: relative;
    justify-content: space-around;
    height: 80px;  
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  .logo {
    flex: 0 0 200px;           /* also try `flex: 2` */
    background-color: red;  
  }